{{ define "main" }}
    {{- $paginator := partial "helper/paginator.html" . -}}

    <section class="home-intro">
        <div class="article-content">
            <h1>{{ .Title }}</h1>
            {{ .Content }}
        </div>
    </section>

    <section class="article-list">
        {{ range $paginator.Pages }}
            {{ partial "article-list/default" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
